@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: linear-gradient(
    -45deg,
    rgba(238, 119, 82, 1),
    rgba(231, 60, 126, 1),
    rgba(35, 166, 213, 1),
    rgba(35, 213, 171, 1)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  text-align: center;
  padding: 40px;
  margin: 0;
  /* background-color: #ffffff; */
  color: white;
  z-index: 1;
  text-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.title-color {
  color: rgb(255, 144, 188);
}

hr {
  border: 1px solid lightgray;
}

.subtitle {
  text-align: center;
}

.links-container {
  margin: auto;
  margin-top: 40px;
  width: 50%;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.links {
  list-style: none;
}

.link-item {
  padding: 10px;
}

.link-item-span {
  font-size: 18px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background: #43a047;
}
